.clustersTitle {
  position: relative;
  margin-left: 67px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.clusterLinks {
  display: block;
  margin-top: 1em;
}

.clusterLink, .lessonItem {
  position: relative;
  display: table;
  width: 100%;
  height: 55px;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 1px;
  .dot {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2px;
    left: 9px;
    z-index: 1;
    &.green  { background: url('../images/circle_lg_green.png') center center no-repeat; }
    &.blue   { background: url('../images/circle_lg_blue.png') center center no-repeat; }
    &.yellow { background: url('../images/circle_lg_yellow.png') center center no-repeat; }
  }
  .dotLabel {
    display: table-cell;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 8px;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    span {
      text-align: center;
      color: $darkText;
      font-size: 11px;
      font-weight: bold;
      display: block;
      line-height: 50px;
    }
   }
  .text {
    display: table-cell;
    padding-left: 70px;
    width: 100%;
    vertical-align: middle;
    .title {
      display: block;
      font-weight: bold;  
      line-height: 14px;
    }
    .desc {
      display: block;
      font-size: 12px;
      line-height: 14px;
    }
  }
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    background-color: $bg1;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  &:active {
    background-color: lighten($bg1, 20%);
  }
}


// Firefox-only fix
@-moz-document url-prefix() {
  .clusterLink, .lessonItem {
    .dot {
      font-size: 115px;
    }
  }
}

