$higherEdColor1: darken(#df4854, 3%);
$higherEdColor2: darken(#c92f44, 1%);
$professionalColor1: darken(#7cb557, 8%);
$professionalColor2: darken(#3fa85c, 5%);
$schoolColor1: #0088b7;
$schoolColor2: #006da3;
$neutralBg: #bbbbbb;
$accentColor: #205F9F;

.container {
  min-width: 360px;
}

* {
  font-family: "Open Sans" !important;
  font-size: 14px;
}
a:hover {
 text-decoration: none;
}
h1 {font-size: 1.75em;}
h2 {font-size: 1.35em;}
h3 {font-size: 1.15em;}

img.no-resize { max-width: none; }
img, area, map {
  outline: none;
}
.spaceBelow {
  margin-bottom: 1em; 
}
.spaceAbove {
  margin-top: 1em; 
}
.allCaps {
  text-transform: uppercase;
}
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;  
  font-size: 10px !important;
}

@import 'upper_content';

#circleWrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 100;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }
}



/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 600px) {
}

@media (min-width: 721px) {
  #circleWrapper {
    position: relative;
    display: block;
    float: left;
    margin-right: 2em;
  }
  .copyWrapper {
    clear: none;
    .copyToggle {
      display: none !important;
    }
    .copy {
      display: table !important;
      clear: none;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  .hiddenAtLarge {
    /* Fix for IE10 clearing issue */
    display: none !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

@import 'modal';

.footer {
  background-color: lighten($neutralBg, 15%);
  text-align: center;
  padding: 0.75em;
  margin: 0 -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  p {
    margin-bottom: 0;
  }
  a {
    font-size: 0.85em;
  }
  .counter {
    font-size: 0.85em;
  }

}
