$neutralBg   : #bbbbbb;
$textColor   : #333333;
$headerColor : #36679C;
$bg1         : #f0f0f0;
$bg2         : #dddddd;
$pageBg      : #ffffff;

.container {
  min-width: 360px;
  position: relative;
  color: $textColor;
}

* {
  font-family: "Open Sans" !important;
  font-size: 14px;
  margin: 0;
}
a:hover {
 text-decoration: none;
}
h1 {
  font-size: 1.75em;
  margin-top: 0;
}
h2 {font-size: 1.35em;}
h3 {font-size: 1.15em;}
h1, h2, h3, h4 {
  color: $headerColor;
}

img.no-resize { max-width: none; }
img, area, map {
  outline: none;
}
.spaceBelow {
  margin-bottom: 1em; 
}
.spaceAbove {
  margin-top: 1em; 
}
.allCaps {
  text-transform: uppercase;
}
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;  
  font-size: 10px !important;
}
.table {
  display: table;
}
/* override Bootstrap default, which makes this white for some reason */
.table .table {
  background-color: transparent;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
  vertical-align: top;
}

.accordion {
  width: 100%;
  .accordion-toggle {
    cursor: pointer;
    span {
      pointer-events: none;
      
    }
  }
}

#leftCol, #rightCol {
  height: 900px;
}

#leftCol {
  background: $bg1;
}

#rightCol {
  background: $bg2;
  border-left: 10px solid $pageBg;
}

#key {
  position: relative;
  display: block;
  margin-left: 70px;
  width: 430px;
  .td {
    width: 33%;
    vertical-align: top;
    padding-right: 1em;
    span, b {
      font-size: 11px;
    }
    .dot {
      font-size: 40px;
      text-shadow: 0px 1px 4px rgba(150, 150, 150, 0.5);
      display: block;
      height: 60px;
      float: left;
      clear: both;
      line-height: 14px;
    }
    &.green  { .dot { color: #61BB46; }}
    &.blue   { .dot { color: #009DDB; }}
    &.yellow { .dot { color: #EFAB1E; }}
  }
}

#circleWrapper {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  display: block;
  #kinetic {
    position: absolute;
    top: 400;
    left: 0;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }
}

#legend {
  display: block;
  position: relative;
  margin-left: 70px;
  width: 430px;
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid $headerColor;
    padding-top: 0.5em;
  }
  .legendItem {
    display: inline-block;
    span {
      display: inline-block;
      vertical-align: top;
      height: 40px;
      text-transform: uppercase;
      &.legendKey {
        font-weight: bold;
        width: 40px;
      } 
      &.legendValue {
        width: 170px;
        padding-right: 1em;
      }
      font-size: 12px;
    }
  }
}


.panel-group .panel {
  border-radius: 0;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

.copyWrapper {
  clear: both;
  position: relative;
  display: inline-block;
  width: 100%;
  .copy {
    display: table;
    position: relative;
    clear: left;
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    min-width: 300px;
    width: 100%;
    h1, h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 1em;
    }
    .accordion * {
      width: 100%;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 600px;
      li {
        margin-left: 0;
      }
      > li.topic {
        display: block;
        background-color: lighten($neutralBg, 35%);
        border-radius: 10px;
        margin: 0 0 1em 0;
        background-color: #ccc;
        padding: 1em;
        overflow: hidden;
          -webkit-transition: 1s linear all;
        ul {
          height: 1px;
          -webkit-transition: 1s linear all;
        }
        &.selected {
          overflow: visible;
          ul {
            -webkit-transition: 1s linear all;
            height: auto;
          }
        }
      }
      .lesson {
        -webkit-transition:0.5s linear all;
        display: block;
        padding: 2px;
        border-radius: 3px;
      }
      .lesson.selected {
        -webkit-transition:0.5s linear all;
        background-color: lighten($neutralBg, 15%);
      }
    }
  }
}

@media (min-width: 600px) {
}

@media (min-width: 721px) {
  #circleWrapper {
    position: relative;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  .hiddenAtLarge {
    /* Fix for IE10 clearing issue */
    display: none !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

// @import 'modal';

.footer {
  background-color: lighten($neutralBg, 15%);
  text-align: center;
  padding: 0.75em;
  margin: 0 -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  p {
    margin-bottom: 0;
  }
  a {
    font-size: 0.85em;
  }
  .counter {
    font-size: 0.85em;
  }

}

#resetButton {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 1001;
  width: 50px;
  height: 50px;
  background: url('../images/reset.png') no-repeat;
  opacity: 0.15;
  cursor: pointer;
  &:hover {
    opacity: 0.25;
  }
  &.ng-hide {
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove {
    transition:0.25s ease-in-out all;
    display:block!important;
  }
}
