$higherEdColor1: darken(#df4854, 3%);
$higherEdColor2: darken(#c92f44, 1%);
$professionalColor1: darken(#7cb557, 8%);
$professionalColor2: darken(#3fa85c, 5%);
$schoolColor1: #0088b7;
$schoolColor2: #006da3;
$neutralBg: #bbbbbb;
$accentColor: #205F9F;

.container {
  min-width: 360px;
}

* {
  font-family: "Open Sans" !important;
  font-size: 14px;
}
a:hover {
 text-decoration: none;
}
h1 {font-size: 1.75em;}
h2 {font-size: 1.35em;}
h3 {font-size: 1.15em;}

img.no-resize { max-width: none; }
img, area, map {
  outline: none;
}
.spaceBelow {
  margin-bottom: 1em; 
}
.spaceAbove {
  margin-top: 1em; 
}
.allCaps {
  text-transform: uppercase;
}
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;  
  font-size: 10px !important;
}
.table {
  display: table;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
  vertical-align: top;
}

.accordion {
  width: 500px;
}

@import 'upper_content';

#circleWrapper {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
  z-index: 100;
  #kinetic {
    position: absolute;
    top: 400;
    left: 0;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
  }
}


/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

.copyWrapper {
  clear: both;
  position: relative;
  display: inline-block;
  width: 500px;
  .copy {
    display: table;
    position: relative;
    clear: left;
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    min-width: 300px;
    h1, h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 1em;
    }
    .accordion * {
      width: 100%;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 600px;
      li {
        margin-left: 0;
      }
      > li.topic {
        display: block;
        background-color: lighten($neutralBg, 35%);
        border-radius: 10px;
        margin: 0 0 1em 0;
        background-color: #ccc;
        padding: 1em;
        overflow: hidden;
          -webkit-transition: 1s linear all;
        ul {
          height: 1px;
          -webkit-transition: 1s linear all;
        }
        &.selected {
          overflow: visible;
          ul {
            -webkit-transition: 1s linear all;
            height: auto;
          }
        }
      }
      .lesson {
        -webkit-transition:0.5s linear all;
        display: block;
        padding: 2px;
        border-radius: 3px;
      }
      .lesson.selected {
        -webkit-transition:0.5s linear all;
        background-color: lighten($neutralBg, 15%);
      }
    }
  }
}

@media (min-width: 600px) {
}

@media (min-width: 721px) {
  #circleWrapper {
    position: relative;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  .hiddenAtLarge {
    /* Fix for IE10 clearing issue */
    display: none !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}




@import 'modal';

.footer {
  background-color: lighten($neutralBg, 15%);
  text-align: center;
  padding: 0.75em;
  margin: 0 -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  p {
    margin-bottom: 0;
  }
  a {
    font-size: 0.85em;
  }
  .counter {
    font-size: 0.85em;
  }

}
