<div id="wrapper" class="">
	
	<div id="contentWrapper" class="row spaceBelow">
				
			<!-- <a id="resetButton" ng-click="reset($event)" ng-show="currCluster"></a> -->
		<div id="leftCol" class="col-md-6 col-sm-12">
			
			<!--<div id="circlePrompt">
				 <h1>Take it for a spin.</h1>
				<p>This interactive Common Core Cluster Wheel shows you how <b>enVision</b>math<b>2.0</b> promotes mathematical Focus and Coherence. Major work is the focus, with topics and lessons organized by Common Core Clusters. Click or tap on Clusters, Topics, and Lessons to explore the connections. IT'S ON!</p>
				 <h3>Click or tap the wheel to see connections &raquo;</h3>
			</div>-->
			
			<div  id="circleWrapper">
				<div id="kinetic"></div>
			</div>
			
			<div id="circleKey">
				<div class="table">
					<div ng-repeat="(k,v) in key" class="tr">
						<div class="td {{v.id}}"> 
							<span class="dot">&#9679;</span>
							<span><b>{{v.name}}</b>: {{v.desc}}</span>
						</div>
					</div>
				</div>
			</div>
			
			<div id="circleLegend">
				<h3>{{legend.heading}}</h3>
				<div ng-repeat="(k,v) in legend.key" class="legendItem">
					<span class="legendKey">{{k}}</span>
					<span class="legendValue">{{v}}</span>
				</div>
			</div>
			
			<div id="dividerArrow"></div>
			
		</div>
		
		<div id="rightCol" class="col-md-6 col-sm-12">
		 	<div class="copyWrapper">
				<div class="copy" ng-hide="hideCopy">
					<div class="copyRow {{copyClass}}">
						<div class="copyCell">
							<h1>{{currCluster.label}}</h1>
							<h4>{{currCluster.title}}</h4>
							<p>{{currCluster.desc}}</p>
							<div accordion close-others="true" class="accordion">
								<div accordion-group 
									heading="{{topic.title}}" 
									ng-repeat="topic in currCluster.topics" 
									class="topic" 
									is-open="topic.selected" >
									<ul>
										<li ng-repeat="lesson in topic.lessons" class="lesson" ng-class="{selected : lesson == currLesson}">{{lesson.id}}: {{lesson.title}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row clearfix footer">
		<p>Footer</p>
	</div>

</div>