<div id="wrapper" class="{{currBU}} {{currSubSection}}">
	
	<div class="row spaceBelow">
		<div id="upperContent">
			<a id="resetButton" ng-click="reset($event)" ng-show="currBU"></a>
			<div id="circleWrapper">
				<!-- <canvas id="circleClusters" width="278" height="278" style="top: 61px; left: 61px"></canvas> -->
				<!-- <canvas id="circleTopics"   width="356" height="356" style="top: 22px; left: 22px; pointer-events: none;"></canvas> -->
				<div id="kinetic">
			</div>
			<div class="copyWrapper">
				<a class="copyToggle" ng-click="onCopyToggle()">{{hideCopy ? "+ Show Key" : "&ndash; Hide Key"}}</a>
				<div class="copy" ng-hide="hideCopy">
					<div class="copyRow {{copyClass}}">
						<div class="copyCell">
							<h1>Cluster</h1>
							<h2>Topic</h2>
							<div class="iconKey">
								<li ng-repeat="center in centers" ng-click="onCenterClick($event, center.id)" ng-class="{selected: currBU == center.id}">
									<div><span class="icon {{center.id}}"></span></div>{{center.name}}
								</li>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4 col-sm-6 clearfix"></div>
	</div>

	<footer class="row footer">
		<p class="counter">Total Projects: {{projectCount}}</p>
		<a href="http://researchnetwork.pearson.com" target="_blank">R&amp;I Network Website</a> |  
		<a href="https://neo.pearson.com/groups/research-and-innovation-network" target="_blank">Neo Group</a> | 
		<a href="mailto:rinetworkinquire@pearson.com">Email</a>
	</footer>
	
</div>