/* line 8, ../sass/cluster_wheel.scss */
.container {
  min-width: 360px;
  position: relative;
  color: #333333;
}

/* line 14, ../sass/cluster_wheel.scss */
* {
  font-family: "Open Sans" !important;
  font-size: 14px;
  margin: 0;
}

/* line 19, ../sass/cluster_wheel.scss */
a:hover {
  text-decoration: none;
}

/* line 22, ../sass/cluster_wheel.scss */
h1 {
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 0;
}

/* line 27, ../sass/cluster_wheel.scss */
h2 {
  font-size: 1.35em;
}

/* line 28, ../sass/cluster_wheel.scss */
h3 {
  font-size: 1.15em;
}

/* line 29, ../sass/cluster_wheel.scss */
h1, h2, h3, h4 {
  color: #36679C;
}

/* line 33, ../sass/cluster_wheel.scss */
img.no-resize {
  max-width: none;
}

/* line 34, ../sass/cluster_wheel.scss */
img, area, map {
  outline: none;
}

/* line 37, ../sass/cluster_wheel.scss */
.spaceBelow {
  margin-bottom: 1em;
}

/* line 40, ../sass/cluster_wheel.scss */
.spaceAbove {
  margin-top: 1em;
}

/* line 43, ../sass/cluster_wheel.scss */
.allCaps {
  text-transform: uppercase;
}

/* line 46, ../sass/cluster_wheel.scss */
.tooltip-inner {
  max-width: 300px;
  min-width: 150px;
  font-size: 10px !important;
}

/* line 51, ../sass/cluster_wheel.scss */
.table {
  display: table;
}

/* override Bootstrap default, which makes this white for some reason */
/* line 55, ../sass/cluster_wheel.scss */
.table .table {
  background-color: transparent;
}

/* line 58, ../sass/cluster_wheel.scss */
.tr {
  display: table-row;
}

/* line 61, ../sass/cluster_wheel.scss */
.td {
  display: table-cell;
  vertical-align: top;
}

/* line 66, ../sass/cluster_wheel.scss */
.accordion {
  width: 100%;
}
/* line 68, ../sass/cluster_wheel.scss */
.accordion .accordion-toggle {
  cursor: pointer;
}
/* line 70, ../sass/cluster_wheel.scss */
.accordion .accordion-toggle span {
  pointer-events: none;
}

/* line 77, ../sass/cluster_wheel.scss */
#leftCol, #rightCol {
  min-height: 900px;
  padding: 0;
}

/* line 82, ../sass/cluster_wheel.scss */
#leftCol {
  background: #e9e9e9;
  border-right: 10px solid #ffffff;
}

/* line 87, ../sass/cluster_wheel.scss */
#rightCol {
  background: #d3d3d3;
}

/* line 91, ../sass/cluster_wheel.scss */
#dividerArrow {
  width: 43px;
  height: 60px;
  position: absolute;
  right: -10px;
  top: 40px;
  background: url("../images/divider_arrow.png") no-repeat;
}

/* line 100, ../sass/cluster_wheel.scss */
#circlePrompt {
  padding: 2em 2.5em 0.5em;
}

/* line 104, ../sass/cluster_wheel.scss */
#circleKey {
  position: relative;
  display: block;
  margin-left: 70px;
  width: 430px;
}
/* line 109, ../sass/cluster_wheel.scss */
#circleKey .td {
  width: 33%;
  vertical-align: top;
  padding-right: 1em;
}
/* line 113, ../sass/cluster_wheel.scss */
#circleKey .td span, #circleKey .td b {
  font-size: 11px;
}
/* line 116, ../sass/cluster_wheel.scss */
#circleKey .td .dot {
  font-size: 40px;
  text-shadow: 0px 1px 4px rgba(150, 150, 150, 0.5);
  display: block;
  height: 60px;
  float: left;
  clear: both;
  line-height: 14px;
}
/* line 125, ../sass/cluster_wheel.scss */
#circleKey .td.green .dot {
  color: #61BB46;
}
/* line 126, ../sass/cluster_wheel.scss */
#circleKey .td.blue .dot {
  color: #009DDB;
}
/* line 127, ../sass/cluster_wheel.scss */
#circleKey .td.yellow .dot {
  color: #EFAB1E;
}

/* line 131, ../sass/cluster_wheel.scss */
#circleWrapper {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  display: block;
}
/* line 139, ../sass/cluster_wheel.scss */
#circleWrapper #kinetic {
  position: absolute;
  top: 400;
  left: 0;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

/* line 148, ../sass/cluster_wheel.scss */
#circleLegend {
  display: block;
  position: relative;
  margin-left: 70px;
  width: 430px;
}
/* line 153, ../sass/cluster_wheel.scss */
#circleLegend h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #36679C;
  padding-top: 0.5em;
}
/* line 159, ../sass/cluster_wheel.scss */
#circleLegend .legendItem {
  display: inline-block;
}
/* line 161, ../sass/cluster_wheel.scss */
#circleLegend .legendItem span {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 166, ../sass/cluster_wheel.scss */
#circleLegend .legendItem span.legendKey {
  font-weight: bold;
  width: 40px;
}
/* line 170, ../sass/cluster_wheel.scss */
#circleLegend .legendItem span.legendValue {
  width: 170px;
  padding-right: 1em;
}

/* line 1, ../sass/_topics_panel.scss */
.panel {
  border: none;
  box-shadow: none;
}

/* line 6, ../sass/_topics_panel.scss */
.panel-group .panel {
  border-radius: 0;
}

/* line 10, ../sass/_topics_panel.scss */
.panel-default > .panel-heading {
  border-color: #d3d3d3;
}

/* line 14, ../sass/_topics_panel.scss */
.copyWrapper {
  clear: both;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 2em 2.5em 0.5em;
}
/* line 20, ../sass/_topics_panel.scss */
.copyWrapper .copy {
  display: table;
  position: relative;
  clear: left;
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  min-width: 300px;
  width: 100%;
}
/* line 28, ../sass/_topics_panel.scss */
.copyWrapper .copy h1, .copyWrapper .copy h2 {
  margin-bottom: 0;
}
/* line 31, ../sass/_topics_panel.scss */
.copyWrapper .copy p {
  margin-top: 1em;
}
/* line 34, ../sass/_topics_panel.scss */
.copyWrapper .copy .accordion * {
  width: 100%;
}
/* line 37, ../sass/_topics_panel.scss */
.copyWrapper .copy ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
}
/* line 42, ../sass/_topics_panel.scss */
.copyWrapper .copy ul li {
  margin-left: 0;
}
/* line 45, ../sass/_topics_panel.scss */
.copyWrapper .copy ul > li.topic {
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 1em 0;
  background-color: #ccc;
  padding: 1em;
  overflow: hidden;
  -webkit-transition: 1s linear all;
}
/* line 54, ../sass/_topics_panel.scss */
.copyWrapper .copy ul > li.topic ul {
  height: 1px;
  -webkit-transition: 1s linear all;
}
/* line 58, ../sass/_topics_panel.scss */
.copyWrapper .copy ul > li.topic.selected {
  overflow: visible;
}
/* line 60, ../sass/_topics_panel.scss */
.copyWrapper .copy ul > li.topic.selected ul {
  -webkit-transition: 1s linear all;
  height: auto;
}
/* line 66, ../sass/_topics_panel.scss */
.copyWrapper .copy ul .lesson {
  -webkit-transition: 0.5s linear all;
  display: block;
  padding: 2px;
  border-radius: 3px;
}
/* line 72, ../sass/_topics_panel.scss */
.copyWrapper .copy ul .lesson.selected {
  -webkit-transition: 0.5s linear all;
  background-color: #e1e1e1;
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 721px) {
  /* line 190, ../sass/cluster_wheel.scss */
  #circleWrapper {
    position: relative;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops and up) */
@media (min-width: 992px) {
  /* line 201, ../sass/cluster_wheel.scss */
  .hiddenAtLarge {
    /* Fix for IE10 clearing issue */
    display: none !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* line 214, ../sass/cluster_wheel.scss */
.footer {
  background-color: #e1e1e1;
  text-align: center;
  padding: 0.75em;
  margin: 0 -1px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 221, ../sass/cluster_wheel.scss */
.footer p {
  margin-bottom: 0;
}
/* line 224, ../sass/cluster_wheel.scss */
.footer a {
  font-size: 0.85em;
}
/* line 227, ../sass/cluster_wheel.scss */
.footer .counter {
  font-size: 0.85em;
}

/* line 233, ../sass/cluster_wheel.scss */
#resetButton {
  display: block;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  z-index: 1001;
  width: 50px;
  height: 50px;
  background: url("../images/reset.png") no-repeat;
  opacity: 0.15;
  cursor: pointer;
}
/* line 244, ../sass/cluster_wheel.scss */
#resetButton:hover {
  opacity: 0.25;
}
/* line 247, ../sass/cluster_wheel.scss */
#resetButton.ng-hide {
  opacity: 0;
}
/* line 250, ../sass/cluster_wheel.scss */
#resetButton.ng-hide-add, #resetButton.ng-hide-remove {
  transition: 0.25s ease-in-out all;
  display: block !important;
}
